<div class="g-mn1">
<!--     <div class="g-hd f-cb">
        <div class="pull-left m-spirit u-fold" nav-toggle></div>
        <div class="pull-left m-nav">
            <ul class="f-cb">
                <li ng-if="app.top_nav.material" ng-class="{active: $state.includes('bls.material')}"><a restore-nav ui-sref="bls.material.vod">素材管理</a></li>
                <li ng-if="app.top_nav.check" ng-class="{active: $state.includes('bls.check')}"><a restore-nav ui-sref="bls.check">审批管理</a></li>
            </ul>
        </div>
        <div class="dropdown m-user">
            <a class="dropdown-toggle clearfix" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="u-email" ng-bind="app.umsinfo.username"></span>
                <span class="btnsel"></span>
            </a>
            <ul class="dropdown-menu nav-user-menu">
                <li ng-click="logout()"><a>退出</a></li>
            </ul>
        </div>
        <div class="m-user u-email"><a target="_blank" ng-href="{{ums_root}}">控制台</a></div>
    </div> -->

    <div ui-view></div>
    <div growl></div>
</div>
