<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>×</span></button>
    <h4 class="modal-title">编单审核</h4>
</div>
<div class="modal-body fs12">
    <div class="m-table m-table1 f-sd">
        <div class="u-th padL15">审核详情</div>
        <div class="m-table-box">
            <table width="96%" class="u-tb2 f-cb" align="center">
                <tbody>
                <tr>
                    <td width="40%">审核时间：</td>
                    <td width="20%">审核人：</td>
                    <td class="f-c2">未通过原因：</td>
                </tr>
                <tr class="evenrow" ng-repeat="t in review_list">
                    <td>{{t.add_time | filterNull}}</td>
                    <td>{{t.operator | filterNull}}</td>
                    <td class="f-c2">{{t.info | filterNull}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary u-btn f-c3" ng-click="reSubmit()">重新提交</button>
</div>