<div class="g-sd1" ng-controller="checkCtrl">
    <div class="m-logo"></div>
    <div class="m-menu">
        <div ng-if="vod" class="m-node2 active" ui-sref-active="active"><a ui-sref="bls.check.vod">点播素材审核</a></div>
        <div ng-if="live" class="m-node2" ui-sref-active="active"><a ui-sref="bls.check.live">直播源审核</a></div>
        <div ng-if="editPrograms" class="m-node2" ui-sref-active="active"><a ui-sref="bls.check.editPrograms">编单审核</a></div>
    </div>
</div>

<div ui-view></div>