<div class="g-mn1c" ng-controller="liveCheckCtrl">
    <span us-spinner="{radius:20, width:10, length: 20, scale: 0.5, corners: 1, rotate: 0, direction: 1, color: '#5882FA', speed: 1.5, trail: 60}"><span
            class="loading_bg"></span></span>
    <div class="m-crumb fs12">审批管理 / 直播素材审核</div>
    <div class="m-op f-cb">
        <div class="pull-left u-chkList marL20">审批状态</div>
        <div class="pull-left u-chkList mar0_5">
            <select class="u-select u-select1" ng-model="status" ng-change="search()"
                    ng-options="a.sign as a.name for a in status_options">
            </select>
        </div>
        <div class="pull-left u-chkList marL20">直播源名称
            <input class="u-select w150" type="text" ng-model="video_data.name" placeholder="请输入素材名称">
        </div>
        <div class="pull-left u-chkList">
            <button class="u-btn f-c3 mar0_5" type="button" ng-click="search()">查询</button>
        </div>
    </div>
    <div class="m-table f-sd">
        <!--<div class="delete_input">-->
        <!--<input type="checkbox" class="vertical_top" ng-model="checkboxes.checked" ng-click="check_all()"/>-->
        <!--<a href="javascript:;" class="active marL10 fs12" ng-click="material_check()">审批</a>-->
        <!--</div>-->
        <div class="u-tb f-sd">
            <table width="100%" class="u-tb1 u-tb5">
                <thead>
                <tr>
                    <th>直播源名称</th>
                    <th>主信号源地址</th>
                    <th>备信号源地址</th>
                    <th>描述</th>
                    <th class="u-trr">审核状态</th>
                    <th class="u-trr">操作</th>
                <tr>
                </thead>
                <tbody class="u-td1">
                <tr ng-repeat="item in check_data.data">
                    <td>{{item.name}}</td>
                    <td><a uib-popover="点击预览视频" popover-trigger="'mouseenter'" ng-click="see_video(item.master_view_url)">{{item.master_src}}</a></td>
                    <td><a uib-popover="点击预览视频" popover-trigger="'mouseenter'" ng-click="see_video(item.standby_view_url)">{{item.standby_src}}</a></td>
                    <td>{{item.desc | filterNull}}</td>
                    <td ng-class="{'0': 'f-c2', '2': 'f-c4', '3': 'f-c5'}[item.status]">{{item.status | live_status}}</td>
                    <td>
                        <a href="javascript:;" ng-if="item.status == 0" ng-click="material_check(item.id)">审批</a>
                        <span href="javascript:;" ng-if="item.status != 0">——</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="m-page text-right">
            <ul uib-pagination
                ng-change="pageChanged()"
                items-per-page="itemsPerPage"
                total-items="bigTotalItems"
                ng-model="bigCurrentPage"
                max-size="maxSize"
                class="pagination-sm"
                boundary-link-numbers="true"></ul>
        </div>
    </div>
</div>