<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>×</span></button>
    <h4 class="modal-title">导入素材</h4>
</div>
<div class="modal-body fs12 pad0">
    <div class="clearfix pad15">
        <label class="pull-left u-chkList f-fwn">节目来源:</label>
        <input class="pull-left w104 mar0_5" type="text" placeholder="节目来源" ng-model="api_data.cusername">
        <label class="pull-left u-chkList f-fwn marL20">素材类别:</label>
        <input class="pull-left w104 mar0_5" type="text" placeholder="素材分类" ng-model="api_data.video_category">
        <label class="pull-left u-chkList f-fwn marL20">素材名称:</label>
        <input class="pull-left w104 marL5" type="text" placeholder="素材名称" ng-model="api_data.title">
        <a class="marL10 pull-left marT5" ng-click="search()">
            <span class="glyphicon glyphicon-search fs20 gray"></span>
        </a>
        <label class="f-fwn marL30 fs14">导入到:</label>
        <select class="u-select u-select1 w120 mar0_5"
                ng-options="x.id as x.name for x in types"
                ng-model="type">
        </select>
    </div>
    <hr>
    <div class="marT20 padL15">
        <dl ng-repeat="x in materials" class="vms_upload pointer pull-left marterial_img" ng-click="select_program(x)"
            uib-tooltip-html="x.tip_info" popover-trigger="'mouseenter'">
            <dd>
                <img ng-src={{x.img_url}} alt="" image-404="images/NotFound.png">
            </dd>
            <dt class="f-toe f-fwn" title={{x.title}}>{{x.title}}</dt>
            <i ng-show="x.selected" class="glyphicon glyphicon-ok-sign img_select_icon"></i>
        </dl>
    </div>
    <div class="clear"></div>
    <div class="m-page text-right tac">
            <ul uib-pagination ng-change="pageChanged()"
                total-items="bigTotalItems"
                ng-model="bigCurrentPage"
                items-per-page="itemsPerPage"
                max-size="maxSize"
                class="pagination-sm marT-1 marB0"
                boundary-link-numbers="true">
            </ul>
        </div>
    <hr>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary u-btn f-c3" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-primary u-btn f-c3" ng-click="ok()">确定</button>
</div>