<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>轮播管理系统</title>
        <link rel="stylesheet" href="/static-dir/vendor/bootstrap3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static-dir/css/custom.css">
        <style>
            html,body{width:100%;height:100%;}
            body{background: url("/static-dir/images/login_bg.png") no-repeat;background-size:100% 100%;}
            .wrap{max-width:800px;min-width:400px;margin:100px auto;}
            .logo{width:180px;height:68px;background: url("/static-dir/images/vms_logo.png") no-repeat;background-size:100% 100%;}
            .section{margin-top:50px;}
            .section h2{color:#317eac;font-size:24px;text-align:center;font-weight:bold;}
            .section .container{width:380px;margin: 0 auto;padding:19px;padding-top:10px;border:1px solid #bbb;border-radius:2px;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);background:#dbd8d3;}
            .section .container h3{font-size: 14px;margin: 10px 0 5px;color:#3a87ad;font-weight:bold;padding: 8px 35px 8px 14px;text-align:center;}
            .section .container input{margin-bottom:15px;}
        </style>
        <script type="text/javascript" src="/static-dir/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static-dir/js/jquery.cookie.js"></script>
        <script type="text/javascript">
            $(function(){
                $('#sub_btn').click(function() {
                    execute();
                    return false;
                });
            });
            function execute() {
                var dname = $('#disk_name').val();
                var limit = $('#limit').val();
                $.ajax({
                    url: "/accounts/ajax/add_disk/",
                    data: {
                        disk_name: dname,
                        limit: limit,
                        csrfmiddlewaretoken: $.cookie('csrftoken')
                    },
                    type: 'post',
                    async: false,
                    success: function(data) {
                        $('#uname_tip').text(data.result);
                        setTimeout("window.location.href='/accounts/disk_info/'", 3000);
                    }
                });
            }
            function change_status(did, new_status) {
                $.ajax({
                    url: "/accounts/ajax/change_disk_status/",
                    data: {
                        disk_id: did,
                        new_status: new_status,
                        csrfmiddlewaretoken: $.cookie('csrftoken')
                    },
                    type: 'post',
                    async: false,
                    success: function(data) {
                        alert(data.result);
                        window.location.href='/accounts/disk_info/';
                    }
                });
            }
        </script>
    </head>
    <body>
        <div class="wrap">
            <div class="section">
                <div class="container">
                    <h3>新增磁盘</h3>
                    <span style="color:red;font-size:12px;" id="uname_tip"></span>
                    <form method="post">
                        <input type="text" class="form-control" placeholder="磁盘名称：如 /data1" id="disk_name">
                        <input type="text" class="form-control" placeholder="使用阀值(%)：如 80" id="limit">
                        <div class="clearfix">
                            <button class="btn btn-primary pull-right" id="sub_btn">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="u-tb f-sd" style="margin-top:30px;">
            <table cellpadding="0" cellspacing="0" width="100%" class="u-tb1">
                <thead>
                    <tr>
                        <th class="u-tlr" width="25%">磁盘名称</th>
                        <th width="12%">总大小（GB）</th>
                        <th width="12%">已使用（GB）</th>
                        <th width="12%">使用率（%）</th>
                        <th width="12%">使用阀值（%）</th>
                        <th width="12%">状态</th>
                        <th class="u-trr" width="15%">操作</th>
                    <tr>
                </thead>
                <tbody>
                {% for obj in disk_list %}
                    <tr>
                        <td style="width:25%;height:30px; !important">
                          {{obj.disk_name}}
                        </td>
                        <td style="width:12%;height:30px; !important" class="m-lh1">
                            {{obj.total}}
                        </td>
                        <td style="width:12%;height:30px; !important" class="m-lh1">
                            {{obj.used}}
                        </td>
                        <td style="width:12%;height:30px; !important" class="m-lh1">
                            {{obj.used_rate}}
                        </td>
                        <td style="width:12%;height:30px; !important" class="m-lh1">
                            {{obj.limit}}
                        </td>
                        <td style="width:12%;height:30px; !important" class="m-lh1">
                            {{obj.get_status_display}}
                        </td>
                        {% ifequal obj.status 1%}
                        <td style="width:15%;height:30px; !important" class="fs12 f-c0 nortline"><a href="javascript:;" class="marL10" onclick="change_status({{obj.id}}, 0);">禁用</a></td>
                        {% else %}
                        <td style="width:15%;height:30px; !important" class="fs12 f-c0 nortline"><a href="javascript:;" class="marL10" onclick="change_status({{obj.id}}, 1);">启用</a></td>
                        {% endifequal %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </body>
</html>